  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .contact-card-container {
    perspective: 1000px;
    cursor: pointer;
    width: 500px;
    height: 450px;
    margin: 20px;
  }

  .contact-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform-style: preserve-3d;
  }

  .contact-card-inner.is-flipped {
    transform: rotateY(180deg);
  }

  .contact-card-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    overflow: hidden;
    font-family: sans-serif;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  }

  .contact-card-front {
    /* background-color: #0f0f0f; */
    background-image: url("../assets/blob-scene-haikei\(3\).svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Cormorant Garamond";
    color: white;
    font-size: 2rem;
    border: 2px solid #df6400;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-card-back {
    border: 2px solid var(--primary-color);
    background-color: #272727;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 2vmin;
  }

  /* CONTACT FORM */

  .form-header{
      text-align: center;
  }

  .contact-form{
      margin-top: 3vmin;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
  }

  .form-field{
      display: flex;
      flex-direction: column;
      gap: 2vmin;
  }

  .form-field input{
      padding: 1vmin;
      font-family: system-ui;
      font-size: 1rem;
  }

  .submit-btn{
      background-color: var(--primary-color);
      align-self: center;
      padding: 1vmin 5vmin;
      font-size: 1rem;
      font-family: system-ui;
      border: none;
      border-radius: 7px;
      cursor: pointer;
  }