@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');

:root{
    --header-height: 80px;
}

html{
    scroll-behavior: smooth;
    overflow: hidden;
}

body{
    background-color: var(--main-bg-color);
    color: white;
    margin: 0;
    overflow: hidden;
}

/* SCROLL CONTAINER */
.portfolio-container{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* scroll-padding-top: var(--header-height); */
}

/* HEADER */
header{
    font-family: system-ui;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(29, 29, 29);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

.header-nav ul{
    display: flex;
    gap: 5vmin;
    margin: 0;
    padding: 0;
}

.header-nav ul li{
    list-style-type: none;
    font-size: 1.1rem;
}

.nav-item{
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 1vmin;
    border-radius: 5px;
    transition: all 250ms ease;
}

.nav-item:hover{
    background-color: var(--primary-color);
}

/* SECTIONS (COMMON) */
.home-section,
.skills-section,
.projects-section,
.contact-section{
    min-height: 100vh;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    box-sizing: border-box;
    overflow: hidden;
}

/* HOME SECTION */

.home-section{
    background:linear-gradient(rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.86)), url("https://img.freepik.com/premium-photo/binary-code-technology-background-code-numbers-3d-illustration_357568-14766.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-wrapper h1{
    font-size: 10rem;
    font-family: var(--cinzel-font);
    color: var(--primary-color)
}

.home-wrapper h2{
    font-family: Inter;
    color: var(--primary-color);
}

.home-wrapper p{
    font-size: 1.1rem;
    color: var(--primary-color);
    font-family: Inter;
    max-width: 1000px;
}

/* SKILLS */
.skills-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vmin 0;
}

.section-header{
    color: white;
    font-size: 4rem;
    text-align: center;
    font-family: "Cormorant Garamond";
    margin: 0 0 5vmin 0;
}

.skills-grid{
    font-family: system-ui;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    column-gap: 7vmin;
    row-gap: 8vmin;
}

.skill-class{
    text-align: right;
}

.skill-list{
    display: flex;
    gap: 5vmin;
}

.skill-item{
    font-size: 4rem;
}

/* PROJECTS */
.projects-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2vmin 0;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vmin;
    padding: 0 5vmin;
    overflow-y: auto;
    flex: 1;
}

/* CONTACT */
.contact-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-details{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contact-card{
    display: flex;
    justify-content: center;
}

.contact-links{
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vmin;
}

.contact-links p{
    margin-top: 2vmin;
    font-size: 1.4rem;
}

/* Section Animation */

.animate-section{
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;
}

.show{
    opacity: 1;
    transform: translateY(0px);
}