@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');

:root{
    --header-height: 70px;
}

html{
    scroll-behavior: smooth;
    overflow: hidden;
}

body{
    background-color: black;
    color: white;
    margin: 0;
    overflow: hidden;
}

/* SCROLL CONTAINER */
.portfolio-container{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* scroll-padding-top: calc(var(--header-height) + 10px); */
}


/* HEADER */
header{
    font-family: system-ui;
    position: fixed;
    top: 10px;
    left: 200px;
    right: 200px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.144);
    backdrop-filter: blur;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

.glass {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 190px;
}

.header-nav ul{
    display: flex;
    gap: 5vmin;
    margin: 0;
    padding: 0;
}

.header-nav ul li{
    list-style-type: none;
    font-size: 1.1rem;
}

.nav-item{
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 1vmin;
    border-radius: 5px;
    transition: all 250ms ease;
}

.nav-item:hover{
    background-color: var(--secondary-color);
}

/* SECTIONS (COMMON) */
.home-section,
.skills-section,
.projects-section,
.contact-section{
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    box-sizing: border-box;
    overflow: hidden;
}

/* HOME SECTION */

.home-section{
    background:linear-gradient(rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.86)), url("https://img.freepik.com/premium-photo/binary-code-technology-background-code-numbers-3d-illustration_357568-14766.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.home-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: min-content;
    margin-left: auto;
    margin-right: auto;
}

.home-wrapper h1{
    font-size: 3rem;
    font-family: var(--cinzel-font);
    font-weight: 500;
    color: var(--primary-color);
    animation: textSizeAnimation 700ms linear forwards;
}

.home-wrapper h2{
        animation: upAnimation 700ms ease-in forwards;
            opacity: 0;
    transform: translateY(50px);
    font-family: Inter;
    color: var(--primary-color);
    font-weight: 700;
    animation-delay: 700ms;
}

.home-wrapper p{
    font-size: 1.1rem;
    color: var(--primary-color);
    font-family: Inter;
    text-align: justify;
    line-height: 24px;
    letter-spacing: 1px;
    padding: 0 5vmin;
    opacity: 0;
    animation: opacityAnimation 700ms ease-in forwards;
    animation-delay: 700ms;
}

/* HOME SECTION ANIMATIONS */

@keyframes upAnimation{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes textSizeAnimation{
    from{
        font-size: 9.3rem;
        opacity: 0;
    }
    to{
        font-size: 10rem;
        opacity: 1;
    }
}

@keyframes opacityAnimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* SKILLS */
.skills-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-header{
    color: white;
    font-size: 4rem;
    text-align: center;
    font-family: "Cormorant Garamond";
    margin: 0 0 5vmin 0;
}

.skills-grid{
    font-family: system-ui;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    column-gap: 7vmin;
    row-gap: 8vmin;
}

.skill-class{
    text-align: right;
}

.skill-list{
    display: flex;
    gap: 5vmin;
}

.skill-item{
    font-size: 4rem;
}

/* PROJECTS */
.projects-section{
    display: flex;
}

.projects-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vmin;
    padding: 0 5vmin;
    overflow-y: auto;
}

/* CONTACT */
.contact-wrapper{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-details{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contact-card{
    display: flex;
    justify-content: center;
}

.contact-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vmin;
}

.contact-links p{
    margin-top: 2vmin;
    font-size: 1.4rem;
}

/* Section Animation */

.animate-section{
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;
}

.show{
    opacity: 1;
    transform: translateY(0px);
}