* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-container {
  perspective: 1000px;
  cursor: pointer;
  width: 500px;
  height: 450px;
  margin: 20px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
}

.card-inner.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
  font-family: sans-serif;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.card-front {
  /* background-color: #0f0f0f; */
  background-image: url("../assets/blob-scene-haikei\(3\).svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Cormorant Garamond";
  /* color: var(--primary-color); */
  color: white;
  font-size: 2rem;
  border: 2px solid #df6400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back {
  border: 2px solid var(--primary-color);
  background-color: #272727;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
}

.project-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.project-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  flex-grow: 1;
}

.project-title{
  color: var(--primary-color);
}

.github-link {
  color: #ffffff7d;
  font-weight: bold;
  text-decoration: none;
}