@import url("https://fonts.googleapis.com/css2?family=Syne:wght@600;700;800&family=DM+Mono:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.project-card {
  z-index: 1000;
  overflow: hidden;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: 1px solid transparent;
  box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, 0.186);
  width: 100%;
  max-width: 500px;
  transition: all 300ms ease;
}

.project-img-wrapper {
  overflow: hidden;
}

.project-img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: all 300ms ease;
}

.project-card:hover .project-img {
  filter: grayscale(0);
  scale: 1.1;
}

.project-card:hover {
  border: 2px solid white;
  transform: translateY(-10px);
  box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 0.186);
}

.project-details {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  padding: 3vmin;
}

.details-header {
  display: flex;
  justify-content: space-between;
  font-family: 'Space Grotesk';
}

.project-links {
  display: flex;
  gap: 1vmin;
}

.project-links a {
  text-decoration: none;
  color: white;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1vmin;
  border-radius: 4px;
}

.project-description {
  font-family: var(--font-mono);
}

.project-tech-stack {
  display: flex;
  gap: 1vmin;
  flex-wrap: wrap;
}

.project-tech-stack-item {
  background-color: rgb(50, 50, 50);
  padding: 1vmin;
  border-radius: 3px;
  margin-top: 3vmin;
  border: 1px solid rgba(255, 255, 255, 0.279);
  font-family: 'Space Grotesk';
}